* {
    box-sizing: border-box;
}


.mainbody {
    /* background-image: url("images/enhanced-1209-1648587466-5.jpg"); */
    background-repeat: repeat;
    background-color: #d6cfcb;
    background-attachment: fixed;
    text-align: center;
    margin-top: 10px;
    float: left;
    padding-top: 20% 0;

    }

 .header {
    background-color: #565264;
    padding: 10px; 
    text-align: center;
    color: #000000;
}

.sidebar {
    float: left;
    width: 25%;
    text-align: center;
    background-color: #706677;
    padding-top: 20% 0;
   
}


@font-face {
    font-family: AlexBrush-Regular;
    src: url("AlexBrush-Regular.ttf");
}
h1 {
    font-family: AlexBrush-Regular;
    font-size: 72 px;

}

.body {
    width: 60%;
    font-family: cursive;
    font-size: 15px;
    float: right;
    padding: 10px 0 ;
    display: block;
    
  
}

/* td {
    border: 1px;
    align-items: stretch;
} */

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .mainbody,
    .header,
    .bodydiv {
      width: 100%;
    }
  } 