* {
    box-sizing: border-box;
}


.mainbody {
    background-repeat: repeat;
    background-color: #d6cfcb;
    background-attachment: fixed;
    text-align: center;
    margin-top: 10px;
    float: left;
    padding-top: 20% 0;

    }

 .header {
    background-color: #565264;
    padding: 10px; 
    text-align: center;
    color: #000000;
    border-bottom: #70667795;
    border-radius: 10px;
}

.sidebar {
    float: left;
    width: 30%;
    text-align: center;
    background-color: #706677;
    padding: 1em;
    padding-top: .5em;
    margin-top: 2px;
    border-image-width: auto;
    
    border: #565264;
    border: 2px;
    border-radius: 10px;
   
}

.facts{
    font-size: 2em;
    padding-bottom: .3em;
    font-family: AlexBrush-Regular;
}

.button {
  display: inline-block;
  background-color: #565264;
  padding: 5%;
  width: 60%;
  color: #ffffff;
  text-align: center;
  border: 4px double #d6cfcb;
  border-radius: 10px;
  font-size: 12px;
  margin: 5px;
  transition: all 0.5s;
  }
  
  .button:hover {
    background-color: #70667700;
    color: white;
  }

.books {
    background-color: #706677c1;
    padding: 20px;
    box-shadow: #565264;
    border-radius: 10px;
    
}


@font-face {
    font-family: AlexBrush-Regular;
    src: url("AlexBrush-Regular.ttf");
}
h1 {
    font-family: AlexBrush-Regular;
    font-size: 72 px;

}

.body {
    width: 60%;
    font-family: serif;
    text-align: center;
    font-size: 15px;
    float: left;
    padding: 10px 0 ;
    display: block;
    padding-left: 10%;
}

.footer { 
    background-color: #565264;
    padding: 10px; 
    text-align: center;
    color: #000000;
    margin-top: 7px;   
}


@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .mainbody,
    .header,
    .body,
    .sidebar {
      width: 100%;
    }
  } 